body {
    background-color: beige;
    box-shadow: 3px 4px 7px rgba(rgb(234, 226, 226), rgb(163, 170, 163), rgb(229, 229, 236), alpha);
    margin: 0 auto;
    padding: 5px;
}
h1 {
    text-align: center;
    text-shadow: 3px 2px 2px 0.1;
}
strong {
    margin-left: 20px;
    font-size: 25px;
}
p,h3 {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 8px; 
}